body{
    background-color: rgb(111, 111, 255);
    font: normal 15pt Arial ;

}

header{
    color: white;
    text-align: center;

}

h1{
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.306);
}

section{
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.228);
    

}

div{
    margin-right: 10px;
    padding: 10px;
    color: light;


}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377)

}