@charset "UTF-8";

/* 
todas as demais mídias

Typical device breakpoints
Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}

*/


@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(imagens/back-print.jpg);


        img#phone {display: none;}
        img#tablet {display: none;}
        img#print {display: block;}
        img#PC {display: none;}
        img#TV {display: none;}
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Está impressão foi feita pelo site www.joãodasneves.com';
        text-decoration: overline;
    }

} /* iMPRESSÃO */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(imagens/back-tablet.jpg);

        img#phone {display: none;}
        img#tablet {display: block;}
        img#print {display: none;}
        img#PC {display: none;}
        img#TV {display: none;}
    }

} /* TABLET */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(imagens/back-pc.jpg);
        img#phone {display: none;}
        img#tablet {display: none;}
        img#print {display: none;}
        img#PC {display: block;}
        img#TV {display: none;}
    }
} /* DESKTOP */

@media screen and (min-width: 1200px){
    body {
        background-image: url(imagens/back-tv.jpg);
        img#phone {display: none;}
        img#tablet {display: none;}
        img#print {display: none;}
        img#PC {display: none;}
        img#TV {display: block;}
    }

    main {
        width: 700px;
    }
} /* GRANDES TELAS */

