body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}
h1{
    color: aliceblue;
    text-align: center;
}

p{
    color: aliceblue;
}
